@tailwind base;
@tailwind components;
@tailwind utilities;

.loginFrame {
	@apply
	border
	border-gray-600 shadow-[0_0px_6px_-1px_rgba(0,0,0,0.6)] rounded-md
	py-4 px-8
}
.loginFrame h1 {
	@apply
	text-3xl text-black font-sans font-bold
	mb-2
}

.loginFrame h2 {
	@apply
	text-xl font-sans font-semibold
}

.loginForm input[type=text], input[type=password] {
	@apply
	mb-2 pl-1.5
	border rounded-md
	border-gray-500 bg-gray-50 shadow-inner
	text-gray-900

	focus:outline-none focus:border-blue-500
	focus:shadow-none
}

.loginForm input[type=submit] {
	@apply
    px-2
    font-semibold border
    rounded shadow

    bg-white text-gray-800
    hover:bg-gray-100 border-gray-400;
}

.loginFrame .formError {
	@apply
	text-red-800
	mt-1
	-mb-3 /* Compensates the form frame's py, otherwise looks ugly-ish*/
}